.root {
  min-height: 100%;
  overflow: hidden;
}

.nav {
  composes: box from './Box.css';
  padding: 0 20px;
  z-index: 2;
}

.content {
  z-index: 1;
  background-color: #e8e8e8;
  flex-grow: 1;
}
