.CardPanel__ {
  &root {
    background-color: #fff;
    border: 1px solid #edeeee;
    border-radius: 3px;
    margin-bottom: 40px;
    width: 330px;
  }

  &name {
    padding: 14px 20px;
    font-size: 18px;
  }

  &pictureWrap {
    position: relative;
    width: 328px;
    height: 456px;
    overflow: hidden;
  }

  &picture {
    position: relative;
    z-index: 2;
    display: block;
    border-radius: 15px;
    width: 328px;
    height: 456px;
  }

  &pictureOrigin {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &pictureZoom {
    z-index: 3;
  }
}
