.card {
  position: relative;
  padding: 10px;
  margin: 0 0 20px;
  border-radius: 13px;
  border: 1px solid #333;
  &__picture {
    width: 223px;
    height: 310px;
    position: relative;
    z-index: 1;
    &:hover {
      z-index: 2;
    }
    &__img {
      display: block;
      position: relative;
      transform: scale(1);
      transition: all .2s;
      border-radius: 13px;
      z-index: 2;
      &_origin {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }
    &:hover &__img {
      transform: scale(1.5);
      &_origin {
        left: 340px;
      }
    }
  }
  &_search &__picture {
    float: left;
  }
  &_search &__content {
    margin: 0 0 0 240px;
    padding: 0 0 40px;
    position: relative;
    box-sizing: border-box;
    height: 310px;
  }
  &_search &__actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
